/* nav_Bar css ==========================================*/

/* nav_header css */
.nav_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.nav_header * {
  margin-right: 10px;
  margin-top: 20px;
}

.nav_header div:last-child {
  margin-right: 0;
}

/* nav_logo css */
.nav_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* nav_menu_area */
.nav_menu_area {
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  padding: 20px;
}

.menu li a {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}

/* search_box */
.search_box {
  position: absolute;
  right: 20px;
  top: 193px;
  border-bottom: 1px solid #000;
  padding: 5px;
}

.search_box input {
  border: none;
  outline: none;
  margin-right: 5px;
}

/* product_card css===================================== */
.product_card {
  padding: 20px 0;
}

.product_card img {
  margin-bottom: 10px;
  border-radius: 10px;
}

/* login css========================================== */
.login_area {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.login_form {
  width: 40em;
}

/* productDetail css=============================== */
.product_detail-img {
  display: flex;
  justify-content: flex-end;
}

.product_info {
  font-size: 20px;
  margin-bottom: 10px;
}
